@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

html {
    background-color: #FFFFFF;
    color: #073949;
    font-family: "Poppins", sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
}

header {
    flex-direction: column;
    margin-top: 40px;
}

footer {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #B31B1B;
    color: white;
    display: flex;
    flex-direction: column-reverse;
}

.footer-media-icons {
    width: 40px;
    padding-top: 15px;
    padding-right: 10px;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    margin: 0;
    padding: 0;
}

nav menu {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 3px solid #B31B1B;
}

nav menu li {
    padding-bottom: 13px;
    padding-top: 13px;
    margin: 0;
}

nav menu li a {
    display: inline;
    text-decoration: none;
    color: #222222;
}

nav menu li a:hover {
    border-bottom: 3px solid #B31B1B;
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28pt;
    text-align: center;
    background-color: #B31B1B;
    border: 10px double white;
    padding: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header-logo {
    display: block;
    margin: 10px auto;
    margin-left: 30px;
    width: 100%;
    max-width: 400px;
}

a {
    color: #B31B1B;
}

footer a {
    color: #FFFFFF;
}

aside {
    width: 100%;
    margin: 0;
    padding: 0;
}

aside h2 {
    font-size: 16pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: 0;
    border: 3px solid #B31B1B;
    border-bottom: none;
}

aside ul {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
    border: 3px solid #B31B1B;
    border-top: none;
}

aside ul li {
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}

main {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

main h2 {
    border-bottom: 1px solid gray;
    font-size: 22pt;
    font-weight: bold;
    text-transform: uppercase;
}

main strong {
    font-weight: bold;
    color: #B31B1B;
}

.course-code {
    display: inline;
    font-weight: bold;
    white-space: nowrap;
}

.or {
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #B31B1B
}

.notes {
    color: black;
    border-left: 5px solid #B31B1B;
    padding-left: 10px;
}

.engineering-distributions {
    text-decoration: underline;
}

.checklist-image {
    margin: 0;
}

.checklist-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 400px;
    max-width: 850px;
}

.home-decor {
    display: block;
    max-width: 850px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
}

.gates-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 400px;
    max-width: 850px;
}

.center-button {
    display: flex;
    justify-content: center;
}

.pdf-button {
    background-color: transparent;
    border: none;
}

.pdf {
    display: inline-block;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    background-color: #B31B1B;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.courses-figure figure {
    margin-left: 0;
    margin-right: 0;
}

.modal-requirements {
    width: 100%;
    min-width: 400px;
    max-width: 800px;
}

.advisors-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.advisor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #B31B1B;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    flex: 1 1 calc(45% - 2rem);
    min-width: 300px;
    max-width: 500px;
}

.advisor-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.advisor-info {
    flex-grow: 1;
    width: 100%;
    text-align: justify;
}

.advisor-info h3 {
    margin: 0 0 0.5rem;
    font-size: 1.4rem;
    color: #FFFFFF;
    text-align: center;
    border-left: None;
}

.advisor-info p {
    margin: 0.3rem 0;
    line-height: 1.5;
    color: white;
    text-align: justify;
}

.advisor-info a {
    color: rgb(228, 235, 9);
}


.each-concen {
    background-color: #e7e7e7;
    padding-right: 42px;
    padding-left: 42px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
}

.each-concen-name {
    font-size: 24px;
}

.concen-seen {
    background-color: #e7e7e7;
    padding: 10px;
    padding-left: 42px;
    padding-right: 42px;
    margin-bottom: 0px;
}

.each-concen-info {
    background-color: #e7e7e7;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 46px;
}

.each-concen-info h3,
.each-concen-info ul,
.each-concen-info h4 {
    margin-left: 30px;
    margin-right: 30px;
}

.course-level {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border: none;
    background-color: #f4f4f4;
    text-align: center;
    font-weight: bolder;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    border-left: 10px solid;
    color: #B31B1B;
    padding: 10px;
}

.accordion-icon {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: #B31B1B;
    border: none;
    background: none;
}

.butt-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.concen-butt-s {
    background-color: #e7e7e7;
    padding: 15px;
    flex-grow: 1;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14pt;
}

button {
    outline-offset: 2px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.concen-butt-h {
    background-color: #e7e7e7;
    padding: 15px;
    flex-grow: 1;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14pt;
}

#ux-courses {
    margin-bottom: 18px;
}

.concen-butt-s:hover {
    background-color: #d6d6d6;
}

.concen-butt-h:hover {
    background-color: #d6d6d6;
}

.course-level-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    text-align: center;
    font-weight: bolder;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    cursor: pointer;
}

#down-pointing {
    border: none;
    font-size: 20px;
    color: #B31B1B;
    cursor: pointer;
}



.course-level-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    padding: 30px;
    background-color: #cccaca5c;
}


.course-level:hover {
    background-color: #f1f1f1;
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hamburger-button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    padding: 30px;
    background-color: white;
}

.x-icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    padding: 30px;
    background-color: white;
}

.larry {
    margin-bottom: 0;
}

.figure-button {
    background-color: transparent;
    border: none;
}

.accessible-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media (min-width: 450px) and (max-width: 849px) {
    .header-logo {
        max-width: 350px;
    }

    #hamburger img {
        width: 40px;
        padding-top: 15px;
    }

    #x-button img {
        width: 40px;
        padding-top: 15px;
    }

    nav menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 25px;
    }
}

@media (min-width: 850px) {
    .header-logo {
        max-width: 600px;
    }

    nav {
        padding: 30px;
        padding-bottom: 0px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    nav menu {
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        position: relative;
        width: 100%;
    }

    nav menu li {
        margin-left: 10px;
        position: relative;
    }

    nav menu li a {
        display: block;
        padding: 12px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
    }

    nav menu li a:hover {
        color: #B31B1B;
        border-bottom: none;
    }

    nav menu li:not(:last-child)::after {
        content: "";
        position: absolute;
        right: -5px;
        top: 20%;
        bottom: 20%;
        width: 0.5px;
        background-color: #222222;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
    }

    main {
        min-width: 400px;
        flex-grow: 2;
    }

    aside {
        min-width: 200px;
        max-width: 300px;
        flex-grow: 1;
    }

    aside ul {
        padding-left: 20px;
        padding-right: 20px;
    }

    aside ul li a {
        text-decoration: none;
        padding-left: 10px;
    }

    aside ul li a:hover {
        border-left: 3px solid #B31B1B;
    }

    .sticky-content {
        position: sticky;
        top: 0;
        overflow-y: auto;
        padding-top: 50px;
    }

    .home-decor {
        min-width: 100px;
        max-width: 850px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 10px;
    }

    .top-row-home {
        display: flex;
        flex-direction: row;
    }

    .bottom-row-home {
        display: flex;
        flex-direction: row;
    }

    .courses-figure {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .courses-figure figure {
        margin-left: 10px;
    }

    .modal-requirements {
        min-width: 200px;
        max-width: 250px;
        border-radius: 15px;
        cursor: pointer;
    }

    .modal-requirements:hover {
        border: 6px solid #B31B1B;
    }

    .modal {
        position: fixed;
        z-index: 1;
        padding-top: 25px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .modal-content {
        margin: auto;
        width: 85%;
    }

    .modal-content figure {
        margin: 0;
    }

    .x-icon-modal {
        float: right;
        cursor: pointer;
        border: 0;
        padding: 0;
        background-color: transparent;
    }

    .x-icon-image {
        width: 30px;
    }

    .modal-image {
        display: block;
        min-width: 600px;
        max-width: 650px;
        margin: 0 auto;
    }

    footer {
        flex-direction: row;
    }
}

@media (min-width: 850px) and (max-width: 1100px) {
    .modal-requirements {
        min-width: 150px;
        max-width: 200px;
    }
}

@media (min-width: 1100px) {
    .modal-requirements {
        min-width: 200px;
        max-width: 250px;
    }
}
